.authentication-container { 
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    max-width:900px;
    height: auto;
    margin: 30px auto;
    padding: 20px;
    justify-content: space-between;

}